 <header class="modal-header">
 	<h3 class="modal-title" id="modal-title">Need more information?</h3>
 </header>
 <div class="modal-body" id="modal-body">
 	<p>If you need more information before selecting a product, read more about the SafeConnect Solar process.</p>
 </div>
 <footer class="modal-footer">
 	<div class="row">
 		<div class="col-md-12 text-right">
 			<button class="btn btn-primary modal-confirm" ng-click="newPage()">More Information</button>
 			<button class="btn btn-default modal-dismiss" ng-click="cancel()">Close</button>
 		</div>
 	</div>
 </footer>
