<div role="main" class="main shop">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-none"><strong>Checkout</strong></h2>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-9">
				<button class="accordion active">Shipping Address</button>
				<div class="paneling" style='max-height: 100%;'>
					<br>
					<form id="frmShippingAddress">
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>First Name</label>
									<input type="text" name="firstnameMailing" ng-model="mailingAddress.name.first" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Last Name</label>
									<input type="text" name="lastnameMailing" ng-model="mailingAddress.name.last"  class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Company Name</label>
									<input type="text" name="companyMailing" ng-model="mailingAddress.company" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label">Address Line 1</label>
									<input type="text" class="form-control" name="addressLine1Mailing" ng-model="mailingAddress.addressLine1">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label">Address Line 2</label>
									<input type="text" class="form-control" name="addressLine2Mailing" ng-model="mailingAddress.addressLine2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>City </label>
									<input type="text" name="cityMailing" ng-model="mailingAddress.city" class="form-control">
								</div>
								<div class="col-md-6">
									<label>State </label>
									<input type="text" name="stateMailing" ng-model="mailingAddress.state" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>Zip Code</label>
									<input type="text" name="zipMailing" ng-model="mailingAddress.zip" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Country</label>
									<input type="text" name="countryMailing" ng-model="mailingAddress.country" class="form-control">
								</div>
							</div>
						</div>
					</form>
				</div>
				<br>

				<button class="accordion">Billing Address</button>
				<div class="paneling">
					<br>
					<form id="frmBillingAddress">
						<div class="row">
							<div class="col-md-12">
								<span class="remember-box checkbox">
									<label>
										<input type="checkbox" ng-click="checkBillAddress()" ng-Model="billingChecked">Use shipping address?
									</label>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>First Name</label>
									<input type="text" name="firstnamebilling" ng-model="billingAddress.name.first" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Last Name</label>
									<input type="text" name="lastnamebilling" ng-model="billingAddress.name.last"  class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Company Name</label>
									<input type="text" name="companybilling" ng-model="billingAddress.company" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label">Address Line 1</label>
									<input type="text" class="form-control" name="addressLine1billing" ng-model="billingAddress.addressLine1">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label">Address Line 2</label>
									<input type="text" class="form-control" name="addressLine2billing" ng-model="billingAddress.addressLine2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>City </label>
									<input type="text" name="citybilling" ng-model="billingAddress.city" class="form-control">
								</div>
								<div class="col-md-12">
									<label>State </label>
									<input type="text" name="statebilling" ng-model="billingAddress.state" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Zip Code</label>
									<input type="text" name="zipbilling" ng-model="billingAddress.zip" class="form-control">
								</div>
								<div class="col-md-12">
									<label>Country</label>
									<input type="text" name="countrybilling" ng-model="billingAddress.country" class="form-control">
								</div>
							</div>
						</div>
					</form>
				</div>
				<br>

				<button class="accordion">Payment Method</button>
				<div class="paneling">
					<br>
					<form stripe-form="stripeSubmit" name="paymentinfo">
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label for="">Card number</label>
									<input type="text" class="form-control" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
								</div>
								<div class="col-md-6">
									<label for="">Name on card </label>
									<input type="text" ng-model="name" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
								<label for="">Expiration Date</label>
									<input type="text" class="form-control" ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
								</div>
								<div class="col-md-6">
									<label for="">CVC</label>
									<input type="text" class="form-control" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-6">
									<button type="submit" class="btn btn-primary btn-large">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<br>


				<button class="accordion">Order Review</button>
				<div class="paneling">
					<table class="shop_table cart">
						<thead>
							<tr>
								<th class="product-thumbnail">
									&nbsp;
								</th>
								<th class="product-name">
									Product
								</th>
								<th class="product-price">
									Price
								</th>
								<th class="product-quantity">
									Quantity
								</th>
								<th class="product-subtotal">
									Total
								</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="item in cart" class="cart_table_item">
								<td class="product-thumbnail">
									<img ng-src="{{item.imagePath}}" alt="{{item.title}}">
								</td>
								<td class="product-name">
									{{item.title}}
								</td>
								<td class="product-price">
									${{item.price}}
								</td>
								<td class="product-quantity">
									{{item.quantity}}
								</td>
								<td class="product-subtotal">
									${{cart.getProductPrice(item)}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				

				<div class="actions-continue">
					<input type="submit" value="Place Order" name="proceed" class="btn btn-lg btn-primary mt-xl">
				</div>

			</div>
			<div class="col-md-3">
				<h4 class="heading-primary">Cart Totals</h4>
				<table class="cart-totals">
					<tbody>
						<tr class="cart-subtotal">
							<th>
								<strong>Cart Subtotal</strong>
							</th>
							<td>
								<strong><span class="amount">${{cart.getCartPrice()}}</span></strong>
							</td>
						</tr>
						<tr class="shipping">
							<th>
								Shipping
							</th>
							<td>
								Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
							</td>
						</tr>	
						<tr class="total">
							<th>
								<strong>Order Total</strong>
							</th>
							<td>
								<strong><span class="amount">${{cart.getCartPrice()}}</span></strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	
</div>
