<div role="main" class="main shop">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-none"><strong>Checkout</strong></h2>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-9">
				<button class="accordion active">Billing Address</button>
				<div class="paneling" style='max-height: 100%;'>
					<form action="/" id="frmBillingAddress" method="post">
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Country</label>
									<select class="form-control">
										<option value="">Select a country</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>First Name</label>
									<input type="text" value="" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Last Name</label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Company Name</label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label" for="addressLine1">Address Line 1</label>
									<input type="text" value="" class="form-control" name="addressLine1" id="addressLine1" ng-model="address.addressLine1">
								</div>
							</div>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary btn-update" ng-click="submitADDRESS()">Update</button>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>City </label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
					</form>
				</div>

				<button class="accordion">Shipping Address</button>
				<div class="paneling">
					<form action="/" id="frmShippingAddress" method="post">
						<div class="row">
							<div class="col-md-12">
								<span class="remember-box checkbox">
									<label>
										<input type="checkbox" checked="checked">Ship to billing address?
									</label>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Country</label>
									<select class="form-control">
										<option value="">Select a country</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>First Name</label>
									<input type="text" value="" class="form-control">
								</div>
								<div class="col-md-6">
									<label>Last Name</label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Company Name</label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>Address </label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<label>City </label>
									<input type="text" value="" class="form-control">
								</div>
							</div>
						</div>
					</form>
				</div>

				<button class="accordion">Review & Payment</button>
				<div class="paneling">
					<table class="shop_table cart">
						<thead>
							<tr>
								<th class="product-thumbnail">
									&nbsp;
								</th>
								<th class="product-name">
									Product
								</th>
								<th class="product-price">
									Price
								</th>
								<th class="product-quantity">
									Quantity
								</th>
								<th class="product-subtotal">
									Total
								</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="item in cart" class="cart_table_item">
								<td class="product-thumbnail">
									<img ng-src="{{item.imagePath}}" alt="{{item.title}}">
								</td>
								<td class="product-name">
									{{item.title}}
								</td>
								<td class="product-price">
									${{item.price}}
								</td>
								<td class="product-quantity">
									{{item.quantity}}
								</td>
								<td class="product-subtotal">
									${{cart.getProductPrice(item)}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				

				<div class="actions-continue">
					<input type="submit" value="Place Order" name="proceed" class="btn btn-lg btn-primary mt-xl">
				</div>

			</div>
			<div class="col-md-3">
				<h4 class="heading-primary">Cart Totals</h4>
				<table class="cart-totals">
					<tbody>
						<tr class="cart-subtotal">
							<th>
								<strong>Cart Subtotal</strong>
							</th>
							<td>
								<strong><span class="amount">${{cart.getCartPrice()}}</span></strong>
							</td>
						</tr>
						<tr class="shipping">
							<th>
								Shipping
							</th>
							<td>
								Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
							</td>
						</tr>	
						<tr class="total">
							<th>
								<strong>Order Total</strong>
							</th>
							<td>
								<strong><span class="amount">${{cart.getCartPrice()}}</span></strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	
</div>
